<%= form_for(@cargo) do |f| %>
  <% if @cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cargo.errors.count, "error") %> <%= @cargo.errors.count == 1 ? "evitou" : "evitaram" %> o cadastro do vargo:</h2>

      <ul>
      <% @cargo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %><br /><br />
  </div>
  
  <div class="actions">
    <%= image_submit_tag "buttonsubmit.gif" %><br />
    ou <%= link_to 'Voltar', current_user.userble %>
  </div>
<% end %>