<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "erro") %> prohibited this vaga from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :login %><br />
<%= f.text_field :login %><br />
<br />
<%= f.label :password, @user.userble.new_record? ? nil : "Alterar a senha" %><br />
<%= f.password_field :password %><br />
<br />
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %><br />

  <%= render :partial => '/users/fields_for_form', :locals => {:form => f} %>


<% if params[:type] == "empresa" -%>
  <% @user.userble == nil ? @user.userble = Empresa.new : nil %>
  <%= render :partial => '/empresas/fields_for_form', :locals => {:form => form} %>
  <%= form.hidden_field :role_id, :value => Role.find_by_name('empresa') %>  
<% else %>
  <% @user.userble == nil ? @user.userble = Candidato.new : nil %>
  <%= render :partial => '/candidatos/fields_for_form', :locals => {:form => form} %>
  <%= form.hidden_field :role_id, :value => Role.find_by_name('candidato') %>
<% end %>

  