<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%=t "activerecord.errors.template.body" %></h2>
      <ul>
      <% @empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="float-left">
  <legend>Informações Pessoais</legend>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :uf, "Estado" %><br />
    <%= select :empresa, :uf, UF_ADDRESS_TYPES.sort %>
  </div>
</fieldset>
<fieldset>
  <legend>Usuário</legend>
  <%= f.fields_for :user do |user| %>
    <%= render :partial => '/users/fields_for_form', :locals => {:f => user} %>
  <% end %>  
</fieldset>
  <div class="actions">
    <%= image_submit_tag "buttonsubmit.gif" %>
  </div>
<% end %>
