<%= form_for(@candidato) do |f| %>
  <% if @candidato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidato.errors.count, "erro") %> <%= @candidato.errors.count == 1 ? "evitou" : "evitaram" %> o cadastro do candidato:</h2>

      <ul>
      <% @candidato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :uf, "UF" %><br />
    <%= f.text_field :uf %>
  </div>
  <div class="field">
    <%= f.label :curso %><br />
    <%= select(:candidato, :curso, [['Administração', 1], ['Arquitetura', 2], ['Ciências Contábeis', 3], ['Comunicação Social', 4], ['Direito', 5], ['Engenharia Civil', 6], ['Engenharia de Computação', 5],  ['Psicologia', 6], ['Publicidade e Propaganda', 7], ['Sistemas de Informação', 8] ]) %>
  </div>
  <div class="field">
    <%= f.label :formacao %><br />
    <%= f.text_field :formacao %>
  </div>
  <div class="field">
    <%= f.label :experiencia %><br />
    <%= f.text_field :experiencia %>
  </div>
  <div class="field">
    <%= f.label :pretencao_salarial %><br />
    <%= f.text_field :pretencao_salarial %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
