<h1>Listar candidatos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Cidade</th>
    <th>UF</th>    
    <th>Formacao</th>
    <th>Curso</th>
    <th>Experiencia</th>
    <th>Pretencao salarial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidatos.each do |candidato| %>
  <tr>
    <td><%= candidato.nome %></td>
    <td><%= candidato.endereco %></td>
    <td><%= candidato.cidade %></td>
    <td><%= candidato.uf %></td>
    <td><%= candidato.formacao %></td>
    <td><%= candidato.curso %></td>
    <td><%= candidato.experiencia %></td>
    <td><%= candidato.pretencao_salarial %></td>
    <td><%= link_to 'Show', candidato %></td>
    <td><%= link_to 'Edit', edit_candidato_path(candidato) %></td>
    <td><%= link_to 'Destroy', candidato, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidato', new_candidato_path %>
